* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  font-size: 16px !important;
}

html,body, ul, li, a, p, table, th, td, tr, input, h1, h2, h3, h4, h5, h6, div, span, button, select {
  font-family: Arial;
}

#wrapper {
  position: relative;
}

.font-s-0-8 {
  font-size: 0.8rem;
}
#desktop {
  display: none;
}
